:deep() {
  .dockbar-layout {
    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    &__menu {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1 1 auto;
      border-radius: 0;
      height: rem(60px);

      // #region 아이콘 커스텀
      &.category {
        .dockbar-layout__menu__text:before {
          background-image: url('/src/assets/images/common/icon-category.svg');
        }

        &.active {
        .dockbar-layout__menu__text:before {
            background-image: url('/src/assets/images/common/icon-category--white.svg');
          }
        }
      }
  
      &.home {
        .dockbar-layout__menu__text:before {
          background-image: url('/src/assets/images/common/icon-home.svg');
        }

        &.active {
        .dockbar-layout__menu__text:before {
            background-image: url('/src/assets/images/common/icon-home--white.svg');
          }
        }
      }
  
      &.wish {
        .dockbar-layout__menu__text:before {
          // svg 아이콘 자체의 여백으로 인해
          background-position: center rem(1px);
          background-image: url('/src/assets/images/common/icon-wish--grey.svg');
        }

        &.active {
        .dockbar-layout__menu__text:before {
            background-image: url('/src/assets/images/common/icon-wish--white.svg');
          }
        }
      }
  
      &.mypage {
        .dockbar-layout__menu__text:before {
          background-image: url('/src/assets/images/common/icon-mypage.svg');
        }

        &.active {
        .dockbar-layout__menu__text:before {
            background-image: url('/src/assets/images/common/icon-mypage--white.svg');
          }
        }
      }
      // #endregion

      // #region 활성화 케이스
      &.active {
        .dockbar-layout__menu__text {
          font-size: rem(14px);
          background-color: $point;

          &:before {
            margin-right: rem(5px);
          }
        }
      }
      // #endregion

      &__text {
        display: flex;
        align-items: center;
        padding: rem(6px 12px);
        border-radius: rem(18px);
        @include fontCss($white, 0, 600, rem(14px));

        &:before {
          content: '';
          display: block;
          margin-right: 0;
          width: rem(26px);
          height: rem(26px);
          background-size: 100% auto;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 50%;
        }
      }
    }
  }
}