.header-layout {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding-right: rem(15px);

  // #region 헤더 커스텀
  &--mypage-main {
    background-color: $deep;

    .header-layout {
      &__title {
        color: $white;
      }

      &__back {
        :deep() {
          .icon--back {
            background-image: url(src('test', 'common', 'icon-arrow-prev.svg'));
          }
        }
      } 
    }
  }
  // #endregion

  &__left {
    display: flex;
    align-items: center;
    font-size: 0;
  }

  &__logo {
    padding: rem(0 15px);
    width: rem(60px);
  }

  &__title {
    @include fontCss($deep, rem(10px), 800, rem(10px));
  }
}