.header-layout {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: rem(40px);
  padding: rem(0 15px);

  &__left {
    display: flex;
    align-items: center;
    font-size: 0;
  }

  &__logo {
    width: rem(30px);
  }

  &__title {
    @include fontCss($deep, rem(10px), 800, rem(10px));
  }
}