.header-layout {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  min-height: rem(55px);
  padding: rem(0 20px);

  &__left {
    display: flex;
    align-items: center;
    font-size: 0;
  }

  &__logo {
    width: rem(50px);
  }

  &__title {
    // 정중앙에 위치하도록 하기 위해 position 설정
    position: absolute;
    top: 50%;
    left: 50%;
    @include fontCss($deep, rem(16px), 800, rem(16px));
    transform: translate(-50%, -50%);
  }
}