.accordion-component {
  &.open {
    .accordion-component {
      &__toggle {
        background-color: transparent;

        &:before {
          background-image: url(src('test', 'common', 'icon-arrow-fold.svg'));
        }
      }
    }
  }

  &__header {
    position: relative;

    // TODO: [디자인]
    &.useHeaderToggle {
      cursor: pointer;

      .accordion-component__toggle {
        border: none;
        background-color: unset;
        @include imageCss(100%, 100%, 'common', 'icon-arrow-open.svg', no-repeat, center, rem(10px));
      }
    }
  }

  &__toggle {
    position: absolute;
    top: 50%;
    right: rem(8px);
    width: rem(18px);
    height: rem(18px);
    background: $deep;
    border-radius: rem(4px);
    transform: translate(0, -50%);
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      @include imageCss(100%, 100%, 'common', 'icon-arrow-open--white.svg', no-repeat, center rem(2px), rem(15px));
    }

    span {
      display: none;
    }
  }
  
  &__body {
    &.overflow {
      overflow: hidden;
    }
  }
}

.toggle-accordion-enter-active,
.toggle-accordion-leave-active {
  transition: height 0.5s;
}

.toggle-accordion-enter,
.toggle-accordion-leave-to {
  height: 0;
}
