.accordion-component {
  &__toggle {
    position: absolute;
    top: rem(#{calc(50% - 12px)});
    right: rem(4px);
    width: rem(26px);
    height: rem(24px);
    border: 1px solid $black;
    background-color: $black;
    border-radius: rem(2px);
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // TODO: 이미지
      background: red;
      // background: url(src('desktop', 'common', 'arrow_12px_white.svg')) no-repeat center;
      transform: rotate(180deg);
    }

    span {
      display: none;
    }
  }

  &__header {
    position: relative;

    &.useHeaderToggle {
      cursor: pointer;

      .accordion-component__toggle {
        border: none;
        background-color: unset;
        // TODO: 이미지
        background: blue;
        // &::before {
        //   background-image: url(src('desktop', 'common', 'arrow_12px_dark.svg'));
        // }
      }
    }
  }
  
  &__body {
    &.overflow {
      overflow: hidden;
    }
  }

  &.open {
    .accordion-component {
      &__toggle {
        border-radius: rem(2px);
        border: 1px solid $grey;
        background-color: $grey;

        &:before {
          // TODO: 이미지
          background: green;
          // background-image: url(src('desktop', 'common', 'arrow_12px_dark.svg'));
          transform: rotate(0deg);
        }
      }
    }
  }
}

.toggle-accordion-enter-active,
.toggle-accordion-leave-active {
  transition: height 0.5s;
}

.toggle-accordion-enter,
.toggle-accordion-leave-to {
  height: 0;
}
