.button-component {
  font-weight: 600;

  // #region Disabled
  &:disabled {
    background: $grey !important;
    color: $white !important;
  }
  // #endregion

  // #region Type
  &.case {
    &--normal {
      background: $white;
      color: $deep;
    }

    &--process {
      
    }

    &--continue {
      background: $deep;
      color: $white;
    }

    &--success {
      background: $point;
      color: $white;
    }

    &--delete {
      
    }

    &--text {
      padding: rem(6px) !important;
      color: $deep;
    }
  }
  // #endregion

  // #region Icon
  &.icon-only {
    padding: 0 !important;
    background-color: initial;
    font-size: 0 !important;
    line-height: 0 !important;

    &.show {
      .icon--visible {
        background-image: url(src('test', 'member', 'icon-password--on.svg'));
      }
    }
  }

  .icon {
    // #region Input buttons
    &--clear {
      @include imageCss(rem(35px), rem(35px), 'member', 'icon-cancel.svg', no-repeat, center, rem(22px) auto);
    }
    
    &--visible {
      @include imageCss(rem(35px), rem(35px), 'member', 'icon-password--off.svg', no-repeat, center, rem(20px) auto);
    }

    &--search {
      @include imageCss(rem(35px), rem(35px), 'common', 'icon-search.svg', no-repeat, center, rem(22px) auto);
    }
    // #endregion

    &--back {
      border-radius: rem(5px);
      background-color: $white;
      @include imageCss(rem(30px), rem(30px), 'common', 'icon-arrow-prev.svg', no-repeat, center, rem(15px) auto);
    }

    &--add {
      &:before {
        content: '';
        margin-right: rem(5px);
        @include imageCss(rem(14px), rem(14px), 'common', 'icon-plus.svg');
        vertical-align: middle;
      }

      :deep() {
        span {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }

    &--close {
      @include imageCss(rem(30px), rem(30px), 'common', 'icon-close--white.svg');
    }

    &--setting {
      @include imageCss(rem(20px), rem(20px), 'common', 'icon-setting.svg');
    }

    &--edit {
      @include imageCss(rem(20px), rem(20px), 'common', 'icon-edit--white.svg');
      background-size: 80% auto;
    }
  }
  // #endregion

  // #region Size
  &.size {
    &--s {
      padding: rem(6px);
      border-radius: rem(8px);
      font-size: rem(10px);
      font-family: $dm;
      line-height: rem(10px);
    }

    &--m {
      padding: rem(8px 10px);
      border-radius: rem(9px);
      font-size: rem(11px);
      font-family: $dm;
      line-height: rem(11px);
    }

    &--l {
      padding: rem(13px 26px);
      border-radius: rem(12px);
      font-size: rem(13px);
      font-family: $dm;
      line-height: rem(13px);
    }
  }
  // #endregion

  // #region Width
  &.width {
    &--full {
      width: 100%;
      height: rem(45px);
    }

    &--half {
      width: calc(50% - #{rem(4px)});
      height: rem(45px);
      
      & + .button-component.width--half {
        margin-left: rem(8px);
      }
    }
  }
  // #endregion
}