.button-component {
  font-weight: 600;

  // #region Disabled
  &:disabled {
    background: $grey !important;
    color: $white !important;
  }
  // #endregion

  // #region Type
  &.case {
    &--normal {
      background: $white;
      color: $deep;
    }

    &--process {
      
    }

    &--continue {
      background: $deep;
      color: $white;
    }

    &--success {
      background: $point;
      color: $white;
    }

    &--delete {
      
    }

    &--text {
      padding: rem(3px) !important;
      color: $deep;
    }
  }
  // #endregion

  // #region Icon
  &.icon-only {
    padding: 0 !important;
    background-color: initial;
    font-size: 0 !important;
    line-height: 0 !important;

    &.show {
      .icon--visible {
        background-image: url(src('test', 'member', 'icon-password--on.svg'));
      }
    }
  }

  .icon {
    &--visible {
      @include imageCss(rem(13px), rem(13px), 'member', 'icon-password--off.svg', no-repeat, center, rem(11px));
    }

    &--back {
      border-radius: rem(5px);
      background-color: $white;
      @include imageCss(rem(22px), rem(22px), 'common', 'icon-arrow-prev.svg', no-repeat, center, rem(10px) auto);
    }

    &--add {
      &:before {
        content: '';
        margin-right: rem(3px);
        @include imageCss(rem(5px), rem(5px), 'common', 'icon-plus.svg');
      }
    }

    &--close {
      @include imageCss(rem(18px), rem(18px), 'common', 'icon-close--white.svg');
    }

    &--setting {
      @include imageCss(rem(12px), rem(12px), 'common', 'icon-setting.svg');
    }

    &--edit {
      @include imageCss(rem(12px), rem(12px), 'common', 'icon-edit--white.svg');
    }
  }
  // #endregion

  // #region Size
  &.size {
    &--s {
      padding: rem(4px);
      border-radius: rem(8px);
      font-size: rem(7px);
      line-height: rem(7px);
    }

    &--m {
      padding: rem(6px 8px);
      border-radius: rem(10px);
      font-size: rem(8px);
      line-height: rem(8px);
    }

    &--l {
      padding: rem(10px 20px);
      border-radius: rem(14px);
      font-size: rem(8px);
      line-height: rem(9px);
    }
  }
  // #endregion

  // #region Width
  &.width {
    &--full {
      width: 100%;
    }

    &--half {
      width: calc(50% - #{rem(2px)});
      
      & + .button-component.width--half {
        margin-left: rem(4px);
      }
    }
  }
  // #endregion
}