.checkbox-component {
  position: relative;

  // #region 체크박스 하나
  &__item {
    display: block;

    &:not(:first-of-type) {
      margin-top: rem(4px);
    }
    
    // Icon 
    &.icon-only {
      // TODO: [디자인]
    }

    // 전체선택
    &.item-all {
      .checkbox-component__label {
        font-weight: 600;
      }
    }

    // Box-type (전체선택과 동일)
    &.box-type {
      .checkbox-component__input {
        // Default 케이스
        & + .checkbox-component__label:before {
          left: 0;
          width: rem(22px);
          height: rem(22px);
          border-radius: rem(5px);
          background: $bg url(src('test', 'common', 'icon-check--white.svg')) center/ rem(18px auto) no-repeat;
        }

        // Checked
        &:checked + .checkbox-component__label:before {
          background: $deep url(src('test', 'common', 'icon-check--white.svg')) center/ rem(18px auto) no-repeat;
        } 

        // Disabled 케이스
        &:disabled {
          // default
          & + .checkbox-component__label:before {
            background: $greySoft url(src('test', 'common', 'icon-check--white.svg')) center/ rem(18px auto) no-repeat;
          }

          // checked
          &:checked + .checkbox-component__label:before {
            background: $greySoft url(src('test', 'common', 'icon-check--grey.svg')) center/ rem(18px auto) no-repeat;
          }
        }
      }
    }
  }
  // #endregion

  // #region Input
  &__input {
    // Checked 케이스
    &:checked + .checkbox-component__label:before {
      background: url(src('test', 'common', 'icon-check.svg')) center/ 100% auto no-repeat;
    }

    // Disabled 케이스 TODO:
    &:disabled {
      // default
      & + .checkbox-component__label:before {
        background: $greySoft url(src('test', 'common', 'icon-check--white.svg')) center/ rem(16px auto) no-repeat;
      }

      // checked
      &:checked + .checkbox-component__label:before {
        background: $greySoft url(src('test', 'common', 'icon-check--grey.svg')) center/ rem(16px auto) no-repeat;
      }
    }
  }
  // #endregion

  // #region Label
  &__label {
    position: relative;
    display: block;
    min-height: rem(30px);
    padding: rem(7px 0 7px 30px);
    cursor: pointer;
    @include fontCss($deep, rem(13px), 400, rem(16px));

    // Default 케이스
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: rem(2px);
      width: rem(18px);
      height: rem(18px);
      background: url(src('test', 'common', 'icon-check--grey-soft.svg')) center/ 100% auto no-repeat;
      border-radius: 50%;
      box-sizing: border-box;
      transform: translate(0, -50%);
    }
  }
  // #endregion
}