.empty-component {
  padding: rem(80px 20px);

  &__text {
    @include fontCss($deep, rem(14px), 800, rem(14px));
    text-align: center;

    &:before {
      content: '';
      display: block;
      margin: 0 auto rem(15px);
      width: rem(35px);
      height: rem(35px);
      background-size: 100% auto;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(src('test', 'common', 'icon-empty.svg'));
    }
  }

  &__action {

  }
}