.input-phone-component {
  &__inner {
    display: flex;
    align-items: center;
  }
  
  &__input {
    :deep() {
      .input-component {
        width: rem(40px);
      }
    }
  }

  &__split {
    padding: rem(0 3px);
  }

  // #region Message (에러 메시지)
  &__message {
    margin-top: rem(5px);
    
    .message {
      &__text {
        @include fontCss($point, rem(8px), 400, rem(10px));
      }
    }
  }
  // #endregion
}