.input-component {
  // TODO: input default type
  // border: 1px solid red;

  &:not(:first-of-type) {
    margin-top: rem(5px);
  }

  &.card-type {
    padding: rem(8px 8px);
    border-radius: rem(4px);
    background: $bg;
  }
  
  // #region state
  &.success {
    .input-component__top__label {

    }
  }

  &.fail {
    .input-component__top__label {
      
    }
  }
  // #endregion

  // #region top (라벨 박스)
  &__top {
    &:empty {
      margin: 0;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(5px);

    &__label {
      @include fontCss($grey, rem(9px), 400, rem(9px));
    }

    &__count {

    }
  }
  // #endregion

  // #region bottom (인풋 박스)
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__input {
      border: none;
      outline: none;
      flex: rem(120px);
      background-color: transparent;
      @include fontCss($deep, rem(10px), 600, rem(10px));

      &::placeholder {
        @include fontCss($grey, rem(9px), 400, rem(9px));
      }
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  // #endregion
}