.input-component {
  overflow: hidden;
  
  &:not(:first-of-type) {
    margin-top: rem(5px);
  }

  &.card-type {
    .input-component__bottom {
      padding: rem(8px 8px);
      border-radius: rem(8px);
      background: $white;
      border: none;
    }
  }

  // #region State
  &.error {
    &:not(card-type) {
      .input-component__bottom {
        border-color: $point;
      }
    }
  }
  // #endregion

  // #region Top (라벨 박스)
  &__top {
    &:empty {
      margin: 0;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(5px);

    &__label {
      @include fontCss($grey, rem(9px), 400, rem(9px));
    }

    &__count {

    }
  }
  // #endregion

  // #region Bottom (인풋 박스)
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: rem(3px);
    border-bottom: 1px solid $grey;

    &__input {
      border: none;
      outline: none;
      flex: rem(120px);
      background-color: transparent;
      @include fontCss($deep, rem(10px), 400, rem(10px));

      &::placeholder {
        @include fontCss($grey, rem(9px), 400, rem(9px));
      }

      &:disabled {
        color: $grey !important;
      }
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: rem(4px);
    }
  }
  // #endregion

  // #region Message (에러 메시지)
  &__message {
    margin-top: rem(5px);
    
    .message {
      &__text {
        @include fontCss($point, rem(8px), 400, rem(10px));
      }
    }
  }
  // #endregion
}