.price-component {
  display: inline-flex;
  align-items: center;
  font-size: 0;

  // #region Type
  &.type {
    &--list {
      .price-component {
        &__number {
          @include fontCss($deep, rem(16px), 800, rem(16px));
        }
  
        &__unit {
          @include fontCss($deep, rem(16px), 800, rem(16px));
        }
      }
    }

    &--order {
      .price-component {
        &__number {
          @include fontCss($deep, rem(14px), 400, rem(14px));
        }
  
        &__unit {
          @include fontCss($deep, rem(14px), 400, rem(14px));
        }
      }
    }

    &--cart {
      .price-component {
        &__number {
          @include fontCss($deep, rem(14px), 400, rem(14px));
        }
  
        &__unit {
          @include fontCss($deep, rem(14px), 400, rem(14px));
        }
      }
    }

    &--card {
      .price-component {
        &__number {
          @include fontCss($deep, rem(14px), 800, rem(14px));
        }
  
        &__unit {
          @include fontCss($deep, rem(14px), 800, rem(14px));
        }
      }
    }

    &--slide {
      .price-component {
        &__number {
          @include fontCss($deep, rem(16px), 800, rem(16px));
        }
  
        &__unit {
          @include fontCss($deep, rem(16px), 800, rem(16px));
        }
      }
    }
  }
 
  &__number {
    font-family: $dm;
    line-height: 1;
  }

  &__unit {
    font-family: $dm;
    line-height: 1;
  }
}