.select-component {
  width: 100%;
  padding: rem(6px 10px 6px 0);
  background: url(src('test', 'common', 'icon-arrow-open.svg')) right center/rem(10px auto) no-repeat;
  border-bottom: 1px solid $grey;
  @include fontCss($deep, rem(9px), 400,  rem(9px));

  // #region Focus 케이스
  &:focus {
    // MEMO: error 케이스를 이기기위해 importatn 부여
    border-color: $deep !important;
    color: $deep;
  }
  // #endregion

  // #region Disabled 케이스
  &:disabled {
    background-image: url(src('test', 'common', 'icon-arrow-open.svg'));
    border-color: $grey;
    color: $grey;
  }
  // #endregion

  // #region Selectbox 여러개 케이스
  & + .select-component {
    margin-left: rem(8px);
  }
  // #endregion

  // #region Props
  // TODO: [디자인]
  $selectSize: (
    's': rem(40px),
    'm': rem(60px),
    'l': 100%,
  );

  &.size {
    @each $name, $size in $selectSize {
      &--#{$name} {
        width: $size;
      }
    }
  }

  &.error {
    border-color: $point;
  }
  // #endregion

  // #region Option
  option {
    &:disabled {
      color: $grey;
    }

    // placeholder 역할의 옵션은 비노출
    &.placeholder {
      display: none;
    }
    
    color: $deep;
  }
  // #endregion
}