.mypage-main {
  padding: rem(15px);

  &__top {
    padding: rem(20px 0 10px);
    background: $white;
    border-radius: rem(15px);
    box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.05);

    // #region 유저
    &__user {
      text-align: center;

      .user {
        &__profile {
          :deep() {
            .user__profile__edit {
              display: inline-block;
              position: absolute;
              right: rem(-5px);
              bottom: rem(-3px);
              padding: rem(5px) !important;
              border-radius: 50%;
              background: $deep;
            }
          }
        }

        &__info {
          margin-top: rem(10px);
          text-align: center;

          &__name {
            display: block;
            @include fontCss($deep, rem(12px), 600, rem(12px));
          }

          &__email {
            display: block;
            margin-top: rem(2px);
            @include fontCss($deep, rem(9px), 400, rem(9px));
          }
        }
      }
    }
    // #endregion

    // #region 퀵 메뉴
    &__quick {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: rem(10px);
      padding: rem(0 20px);

      .quick {
        &__menu {
          width: rem(90px);
          background: rgba(255, 255, 255, 0.5);
          border-radius: rem(5px);

          &__link {
            display: block;
            padding: rem(10px);
          }

          &__number {
            display: block;
            @include fontCss($point, rem(12px), 900, rem(12px));
            text-align: center;
          }

          &__text {
            display: block;
            margin-top: rem(4px);
            @include fontCss($deep, rem(9px), 600, rem(9px));
            text-align: center;
          }
        }
      }
    }
    // #endregion
  }
}