.mypage-main {
  padding: rem(20px);

  &__top {
    padding: rem(30px 0 15px);
    background: $white;
    border-radius: rem(15px);
    box-shadow: 0px 7px 30px 0px rgba(0, 0, 0, 0.05);

    // #region 유저
    &__user {
      text-align: center;

      .user {
        &__profile {
          :deep() {
            .user__profile__edit {
              display: inline-block;
              position: absolute;
              right: rem(-5px);
              bottom: rem(-3px);
              padding: rem(5px) !important;
              border-radius: 50%;
              background: $deep;
            }
          }
        }

        &__info {
          margin-top: rem(15px);
          text-align: center;

          &__name {
            display: block;
            @include fontCss($deep, rem(15px), 600, rem(15px));
          }

          &__email {
            display: block;
            margin-top: rem(5px);
            @include fontCss($grey, rem(13px), 400, rem(13px));
          }
        }
      }
    }
    // #endregion

    // #region 퀵 메뉴
    &__quick {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: rem(15px);
      padding: rem(0 20px);

      .quick {
        &__menu {
          position: relative;
          width: 50%;

          &:not(:first-of-type):before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 1px;
            height: 50%;
            background: $greySoft;
            transform: translate(0, -50%);
          }

          &__link {
            display: block;
            padding: rem(10px);
          }

          &__number {
            display: block;
            @include fontCss($point, rem(16px), 900, rem(16px));
            text-align: center;
          }

          &__text {
            display: block;
            margin-top: rem(4px);
            @include fontCss($deep, rem(13px), 600, rem(13px));
            text-align: center;
          }
        }
      }
    }
    // #endregion
  }
}