.form-componen {
  &__cont {
    .form-group__title {
      padding: rem(8px 4px 8px 16px);
      color: $deep;
      background: $grey;

      > h3 {
        color: $deep;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin-top: rem(30px);

    &:empty {
      margin-top: 0;
    }

    .button-component {
      &:not(:first-of-type) {
        margin-left: rem(10px);
      }
    }
  }
}