.form-item-component {
  position: relative;
  display: flex;
  align-items: center;

  // #region 타이틀 영역
  &__title {
    display: flex;
    flex: rem(0 0 50px);
    align-items: center;
    cursor: default;

    .title {
      &__text {
        word-break: break-all;
        @include fontCss($grey, rem(10px), 600, rem(10px));
      }
    }
  }
  // #endregion

  // #region 콘텐츠 영역
  &__contents {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: rem(#{calc(100% - 50px)});
  }
  // #endregion

  // #region 메시지 영역
  &__messages {
    // messages 슬롯이 비어있을 경우에 대한 처리
    &:empty {
      margin: 0;
    }
  }
  // #endregion

  // #region 필수 케이스
  &--required {
    .form-item-component {
      &__title {
        &::after {
          content: '*';
          display: inline-block;
          margin-left: rem(3px);
          @include fontCss($point, rem(10px), 800, rem(10px));
        }
      }
    }
  }
  // #endregion
}