.form-group-component {
  & + .form-group-component {
    margin-top: rem(10px);
  }
  
  // #region 타이틀 영역
  &__title {
    display: block;
    padding: rem(8px 0);
    font-size: 0;

    :deep() {
      > h3 {
        display: inline-block;
        @include fontCss($deep, rem(10px), 800, rem(10px));
      } 
    }
  }
  // #endregion

  // #region 콘텐츠 영역
  &__contents {
    padding: rem(10px 0);
  }
  // #endregion

  // #region 필수 케이스
  &--required {
    .form-group-component {
      &__title {
        &::after {
          content: '*';
          display: inline-block;
          margin-left: rem(3px);
          @include fontCss($point, rem(10px), 800, rem(10px));
        }
      }
    }
  }
  // #endregion

  // #region TODO: [디자인] 뎁스 사용
  &--has-depth {
    :deep() {
      .form-group-component {
        &__contents {
          > .form-row-component {
            .form-item-component {
              &__title {
                flex-basis: rem(200px);
              }
            }
          }
        }
      }
    }
  }
  // #endregion

  // #region TODO: [디자인] 이너 폼그룹 사용
  &--inner-group {
    &.selected {
      .form-group-component__accordion {
        .accordion-component__header {
          .form-group-component__title {
            background: $deep;
          }
        }
      }
    }

    :deep() {
      .form-group-component__accordion {
        .radio-component {
          &__icon {
            background: #fff;
          }

          & + .input-component {
            margin-left: rem(16px);
          }
        }
      }
    }
  }
  // #endregion

  // #region 아코디언 사용
  &__accordion {
    .form-group-component__contents {
      padding: rem(10px);
      background: $white;
      border-radius: rem( 0 0 8px 8px);
    }

    :deep() {
      .accordion-component__header {
        .form-group-component__title {
          padding: rem(10px);
          border-radius: rem(4px);
          background-color: $white;
        }
      }
    }

    &.open {
      :deep() {
        .accordion-component__header {
          .form-group-component__title {
            border-radius: rem(8px 8px 0 0);
            border: none;
          }
        }
      }
    }
  }
  // #endregion
}