.form-item-component {
  &:not(:first-of-type) {
    margin-top: rem(15px);
  }

  position: relative;

  // #region 타이틀 영역
  &__title {
    display: block;
    margin-bottom: rem(5px);
    cursor: default;

    .title {
      &__text {
        @include fontCss($grey, rem(12px), 600, rem(12px));
        word-break: break-all;
      }
    }
  }
  // #endregion

  // #region 콘텐츠 영역
  &__contents {
    .contents:not(:first-of-type) {
      margin-top: rem(15px);
    }
  }
  // #endregion

  // #region 메시지 영역
  &__messages {
    // messages 슬롯이 비어있을 경우에 대한 처리
    &:empty {
      margin: 0;
    }

    margin-top: rem(5px);
    @include fontCss($point, rem(12px), 400, rem(15px));
  }

  &__guide {
    // messages 슬롯이 비어있을 경우에 대한 처리
    &:empty {
      margin: 0;
    }
    
    &:before {
      content: '';
      position: absolute;
      top: rem(3px);
      left: 0;
      width: rem(2px);
      height: rem(2px);
      background-color: $deep;
      border-radius: 50%;
    }

    position: relative;
    margin-top: rem(5px);
    padding-left: rem(4px);
    @include fontCss($deep, rem(12px), 400, rem(15px));
  }
  // #endregion

  // #region 필수 케이스
  &--required {
    .form-item-component {
      &__title {
        &::after {
          content: '*';
          display: inline-block;
          margin-left: rem(3px);
          @include fontCss($point, rem(12px), 800, rem(12px));
        }
      }
    }
  }
  // #endregion
}