.login {
  padding: rem(20px);

  // #region 로고
  &__logo {
    width: rem(80px);
    margin: rem(20px auto 60px);
  }
  // #endregion
  
  // #region 로그인 옵션
  &__option {
    margin-top: rem(5px);

    :deep() {
      .checkbox-component__label {
        color: $deep;
        font-weight: 600;
        font-size: rem(12px);
      }
    }
  }
  // #endregion

  // #region 버튼 영역
  &__actions {
    text-align: center;
    margin-top: rem(60px);

    button:not(:first-of-type) {
      margin-left: rem(8px);
    }
  }
  // #endregion
}