.login {
  padding: rem(20px 15px);

  // #region 로고
  &__logo {
    width: rem(60px);
    margin: rem(15px auto 45px);
  }
  // #endregion
  
  // #region 로그인 폼
  &__form {
    &__button {
      margin-top: rem(20px);
    }
  }
  // #endregion

  // #region 로그인 옵션
  &__option {
    margin-top: rem(3px);

    :deep() {
      .checkbox-component__label {
        color: $deep;
        font-weight: 600;
        font-size: rem(8px);
      }
    }
  }
  // #endregion

  // #region 버튼 영역
  &__actions {
    text-align: center;
    margin-top: rem(30px);

    button + button {
      margin-left: rem(10px);
    }
  }
  // #endregion
}