.create {
  padding: rem(20px 15px);
  
  &__user-info {
    &__profile {
      :deep() {
        .contents {
          text-align: center;
        }
      }

      .profile {
        overflow: hidden;
        display: inline-block;
        width: rem(60px);
        height: rem(60px);
        background-color: $white;
        border-radius: 50%;

        &__image {
          display: block;
        }
      }
    }
  }
}