// #region DMSans
@font-face {
  font-style: normal;
  font-weight: 200;
  font-family: 'DMSans';
  src: local('DMSans-Thin'), url(/src/assets/fonts/DMSans-Thin.eot);
  src: url(/src/assets/fonts/DMSans-Thin.eot?#iefix) format('embedded-opentype'),
    // url(/src/assets/fonts/DMSans-Thin.woff2) format('woff2'),
    url(/src/assets/fonts/DMSans-Thin.woff) format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'DMSans';
  src: local('DMSans-Regular'), url(/src/assets/fonts/DMSans-Regular.eot);
  src: url(/src/assets/fonts/DMSans-Regular.eot?#iefix) format('embedded-opentype'),
    // url(/src/assets/fonts/DMSans-Regular.woff2) format('woff2'),
    url(/src/assets/fonts/DMSans-Regular.woff) format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: 'DMSans';
  src: local('DMSans-Medium'), url(/src/assets/fonts/DMSans-Medium.eot);
  src: url(/src/assets/fonts/DMSans-Medium.eot?#iefix) format('embedded-opentype'),
    // url(/src/assets/fonts/DMSans-Medium.woff2) format('woff2'),
    url(/src/assets/fonts/DMSans-Medium.woff) format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: 'DMSans';
  src: local('DMSans-Bold'), url(/src/assets/fonts/DMSans-Bold.eot);
  src: url(/src/assets/fonts/DMSans-Bold.eot?#iefix) format('embedded-opentype'),
    // url(/src/assets/fonts/DMSans-Bold.woff2) format('woff2'),
    url(/src/assets/fonts/DMSans-Bold.woff) format('woff');
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: 'DMSans';
  src: local('DMSans-Black'), url(/src/assets/fonts/DMSans-Bold.eot);
  src: url(/src/assets/fonts/DMSans-Black.eot?#iefix) format('embedded-opentype'),
    // url(/src/assets/fonts/DMSans-Black.woff2) format('woff2'),
    url(/src/assets/fonts/DMSans-Black.woff) format('woff');
}
// #endregion