// #region 줄바꿈 처리
@mixin lineWrap() {
  white-space: pre-line;
  word-break: break-all;
}
// #endregion

// #region 말줄임 후략
@mixin line($lineCount: 1) {
  /* 사용법 : @include line(라인수) */
  @if ($lineCount == 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else if($lineCount == 'auto') {
    display: block;
    overflow: visible;
  } @else {
    display: block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lineCount;
  }
}
// #endregion

// #region 폰트
@mixin fontCss($color: $black, $size: rem(12px), $weight: 400, $line: rem(12px), $family: $dm) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
  line-height: $line;
  font-family: $family;
}
// #endregion

// #region Dim #fff 기준
@function dim($opacity: 0.6) {
  @return rgba(0, 0, 0, $opacity);
}
// #endregion

// #region Division
@mixin division($direction: 'bottom', $weight: rem(10px), $bg: $grey50) {
  border-#{$direction}: $weight solid $bg;
}
// #endregion

// #region Image url
@function src($folder: 'sample', $filename: '') {
  @return '/src/assets/images/#{$folder}/#{$filename}';
}
// #endregion

// #region Image
@mixin imageCss(
  $width: rem(12px),
  $height: rem(12px),
  $group: 'sample',
  $file: '',
  $repeat: no-repeat,
  $position: center center,
  $size: 100% auto
) {
  display: inline-block;
  width: $width;
  height: $height;
  // TODO: !!!!!!!!!!!!!!!!!
  // background-image: url(src($folder, $file));
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}
// #endregion

// #region Image Resizing
@mixin imageResize($type: 'width') {
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    @if ($type == 'width') {
      width: 100%;
      height: auto;
    } @else if ($type == 'height') {
      width: auto;
      height: 100%;
    } @else if ($type == 'auto') {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }
  }
}
// #endregion

// #region Image 비율 유지
@mixin atioImg($width: 1, $height: 1) {
  position: relative;
  width: 100%;
  padding-top: calc(100% * #{$height} / #{$width});

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
  }
}
// #endregion

// #region 커스텀 스크롤 바
// width는 좌우 여백과 막대 width를 합한 값입니다.
@mixin customScrollbar($width: rem(20px), $background: $white, $direction: 'vertical') {
  @if ($direction == 'vertical') {
    padding: rem(4px 0);

    &::-webkit-scrollbar {
      width: $width;

      &-thumb {
        width: rem(4px);
        border: calc(($width - rem(4px)) / 2) solid $background; //6px
        border-radius: rem(999px);
        background: $grey400;
      }
    }
  }
}
// #endregion

// #region TODO: 문자 Replace
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}
// #endregion