:root {
  // Basic
  --black: ##111;
  --grey: #ADADAD;
  --grey-soft: #ddd;
  --white: #fff;

  // Primary
  --basic: #567DF4;
  --deep: #22215B;
  --point: #FE0034;

  // Border / Background
  --border: #c6c9cf;
  --dim: #37366C;
  --bg: #eff1f9;
  --bg-light: #f4f6ff;

  // State
  --state-fail: var(--point);

  // Fonts
  --dm: 'DMSans', sans-serif;

  // Box-shadow
  --shadow-0: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  --shadow-2: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
  --shadow-3: 0px 8px 16px 0px rgba(0, 0, 0, 0.16);
}

// #region Colors 
// primary
$basic: var(--basic);
$point: var(--point);

// font
$black: var(--black);
$deep: var(--deep);
$grey: var(--grey);
$greySoft: var(--grey-soft);
$white: var(--white);

// background
$dim: var(--dim);
$bg: var(--bg);
$bgLight: var(--bg-light);
$border: var(--border);

// state
$fail: var(--state-fail);
$success: var(--state-success);

// colors map
$colors: (
  black: var(--basic),
  white: var(--white),
  grey: var(--grey),
  blue: var(--basic),
  red: var(--point),
);
// #endregion

// #region Fonts
$dm: var(--dm);
// #endregion

// #region Box-shadows
$shadow0: var(--shadow-0);
$shadow2: var(--shadow-2);
$shadow3: var(--shadow-3);
// #endregion

// #region Devices
$devices: (
  desktop: 'desktop',
  mobile: 'mobile',
);
// #endregion